body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
}

#gameContainer {
    width: 768px;  /* 根据需要调整大小 */
    height: 1365px; /* 根据需要调整大小 */
    position: relative;
    border: 1px solid #000;
    background: #fff;
}
